.logo {
  font-size: 30px;
  letter-spacing: -5px;
  text-transform: uppercase;
  margin: 10px 25px;
  margin-right: auto;
}

.top_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-betweem;
      -ms-flex-pack: space-betweem;
          justify-content: space-betweem;
}

header {
  background-color: #267FBA;
  color: #fff;
}

.socials {
  margin: 10px 25px;
  font-size: 16px;
  vertical-align: middle;
}

.socials i {
  margin: auto 10px;
  vertical-align: middle;
  line-height: 40px;
}

.stick-header {
  background-color: none;
}

.white_button {
  background-color: #fff;
  border: 1px solid #fff;
  font-family: RobotoSlab-Thin;
  color: #53A7E0;
  padding: 5px 20px 5px 40px !important;
  font-size: 14px;
  position: relative;
  background-image: url(../images/Envelope.png);
  background-size: 25%;
  background-position: 5px;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.white_button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  bottom: 1px;
}

.white_button:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #20628E;
  border-color: #20628E;
  bottom: 0px;
}

.middle_allignment {
  text-align: center;
}

.left_allignment {
  text-align: left;
}

.right_allignment {
  text-align: right;
}

.moto_wrapper {
  font-size: 40px;
  font-family: RobotoSlab-Light;
  margin-top: 120px;
}

.Promise_wrapper {
  color: #e6e6e6;
  font-size: 16px;
  font-family: RobotoSlab-Light;
}

input[type="email_id"] {
  border: 1px solid #fff;
  padding: 5px 15px;
  font-size: 14px;
  color: gray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type="email_id"]::-webkit-input-placeholder {
  font-size: 12px;
  font-family: RobotoSlab-Light;
}

input[type="email_id"]::-moz-placeholder {
  font-size: 12px;
  font-family: RobotoSlab-Light;
}

input[type="email_id"]:-ms-input-placeholder {
  font-size: 12px;
  font-family: RobotoSlab-Light;
}

input[type="email_id"]::placeholder {
  font-size: 12px;
  font-family: RobotoSlab-Light;
}

.form_notify {
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}
