@import "bourbon/bourbon"
$blue_header_color:#267FBA
$h1_size: 50px
$h2_size: 40px
$h3_size: 30px
$h4_size: 20px
$h5_size: 16px
$h6_size: 14px
$h7_size: 12px
$active_button: #20628E
$section1_bgc: #F2F2F2
$about_wrap_bg : #323232
$footer_bgc: #f2f2f2

h1
  font-size: 50px
  margin: 10px 0
h2
  font-size: 40px
  margin: 10px 0

h3
  font-size: 30px
  margin: 10px 0
h4
  font-size: 20px
  margin: 10px 0
  font-weight: normal
h5
  font-size: 16px
  margin: 10px 0
  font-weight: normal
h6
  font-size: 14px
  margin: 10px 0
  font-weight: normal
h7
  font-size: 12px
  margin: 10px 0
  font-weight: normal


.logo
  font-size: $h3_size
  letter-spacing: -5px
  text-transform: uppercase
  margin:10px 25px
  margin-right:auto

.top_container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-betweem
header
  background-color: $blue_header_color
  color:#fff
.socials
  margin:10px 25px
  font-size: $h5_size
  vertical-align: middle
.socials i
  margin:auto 10px
  vertical-align: middle
  line-height: 40px
.stick-header
  background-color: none
.white_button
  background-color: #fff
  border:1px solid #fff
  font-family: RobotoSlab-Thin
  color: #53A7E0
  padding:5px 20px 5px 40px !important
  font-size: $h6_size
  position: relative
  background-image:  url(../images/Envelope.png)
  background-size: 25%
  background-position: 5px
  background-repeat: no-repeat
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  &:hover
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
      bottom: 1px
  &:active
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
      background-color: $active_button
      border-color: $active_button
      bottom: 0px

.middle_allignment
  text-align: center
.left_allignment
  text-align: left
.right_allignment
  text-align: right
.moto_wrapper
  font-size: $h2_size
  font-family: RobotoSlab-Light
  margin-top:120px
.Promise_wrapper
  color: darken(#fff, 10%)
  font-size: $h5_size
  font-family: RobotoSlab-Light

input[type="email_id"],input[type="text"],input[type="email"],textarea
  border:1px solid #fff
  padding:5px 15px
  font-size: $h6_size
  color: lighten(black, 50%)
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  &::placeholder
    font-size: $h7_size
    font-family: RobotoSlab-Light
.form_notify
  padding-bottom: 10px
  margin-top: 50px
  margin-bottom: 20px
.Section_header_wrap
  text-align: center
  margin-top: 30px
.Section_header
  margin-bottom: 20px
  text-transform: capitalize
  font-family: RobotoSlab-Light, serif
  font-size: $h4_size
  font-weight: normal
.row  span.h7
  font-size: $h7_size

  text-align: center
section.features
  background-color: $section1_bgc
section
  font-family: RobotoSlab-Light
  padding-bottom: 40px
.feature_wrap, .about_wrap
  color: #fff
  padding:10px
  margin: 30px 5px 0px 5px
  display:flex
  background-color: #3498DB
  border:2px solid #fff
  background-image: url(/images/settings.png)
  background-size: 35%
  background-repeat: no-repeat
  background-position: center right
  +transition(all 0.35s ease, background-size 1.0s ease-in 0.5s)
  &:hover
    border:2px solid lighten(#000, 20%)
    cursor: pointer
    background-size: 70%
.about_wrap
  display: block
  padding: 40px  10px
  background-color: $about_wrap_bg
  text-align: center
  vertical-align: middle
.feature_logo
  margin: 20px
  vertical-align: middle
  text-align: center
  font-size: 50px
.feature_logo i
  vertical-align: middle

footer
  background-color: $footer_bgc
  font-family: RobotoSlab-Light, serif
  padding-bottom: 40px
.footer_wrapper
.text-align
  text-align: center
.footer_inf
  font-weight: normal
span.soc
  font-size: $h5_size
input[type="text"],input[type="email"], textarea
  width: 70%
  margin-bottom:10px
.footer_wrapper
  margin-top: 40px
.bottom_button
  background-size: 15%
